<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/2c54a840da.js" crossorigin="anonymous"></script>

  <!-- ------------------------------- VUE CDN ------------------------------- -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <link rel="shortcut icon" href="img/fastbites logo.png" type="image/x-icon">

  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/style.css" />
  <title>FASTBITES | Tu tienda TakeAway de confianza</title>
</head>

<body>
  <div id="app" class="container">

    <!-- ----------------------------------------------------------------------- -->
    <!--                                 header                                  -->
    <!-- ----------------------------------------------------------------------- -->
    <header class="header header--login">
      <nav class="header__menu">
        <i class="fa-solid fa-bars header__icon"></i>
        <ul class="menu__items">
          <li class="menu__item">Inici</li>
          <li class="menu__item">Productes</li>
          <li class="menu__item">Consultar comanda</li>
          <li class="menu__item">Historial Comandes</li>
        </ul>
      </nav>
      <button class="header__title" @click="changeScreen(0)">
        <h1>FASTBITES</h1>
      </button>
      <i class="fa-solid fa-user header__icon" @click="changeScreen(5)"></i>
    </header>

    <!-- ----------------------------------------------------------------------- -->
    <!--                                 LANDING                                 -->
    <!-- ----------------------------------------------------------------------- -->
    <section class="landing" v-if="active==0">
      <div class="landing__hero">
        <img class="landing__img" src="img/plato-landing.png" alt="Plato de comida" />
        <h2 class="landing__title">
          SABORS PER EMPORTAR, FELICITAT A CADA MOSSEGADA
        </h2>
      </div>
      <div class="landing__schedule schedule">
        <p class="schedule__title">Horari</p>
        <p class="schedule__days1">Dilluns-dijous</p>
        <p class="schedule__hour1">9:30-17:30</p>
        <p class="schedule__days2">Divendres i disabte</p>
        <p class="schedule__hour2">9:00-00:30</p>
      </div>
      <div class="landing__buttons">
        <button class="landing-buttons__btn" @click="changeScreen(1)">Demanar</button>
        <button class="landing-buttons__btn" @click="changeScreen(4)">Consultar</button>
      </div>
    </section>

    <!-- ----------------------------------------------------------------------- -->
    <!--                                PRODUCTS                                 -->
    <!-- ----------------------------------------------------------------------- -->

    <!-- ------------------------------- slider -------------------------------- -->
    <section class="products" v-if="active==1">
      <div class="products__slider">

        <button class="products__slider-item" @click="changeCategory(0)">
          <!-- <img src="" alt=""> -->
          <p class="products-slider__name">Todos</p>
        </button>

        <button class="products__slider-item" v-for="category in categories" @click="changeCategory(category.id)">
          <!-- <img class="products-slider__img" src="img/slider/hamburguesas.png" alt=""> -->
          <p class="products-slider__name">{{category.description}}</p>

        </button>
      </div>

      <!-- ------------------------------ products ------------------------------- -->
      <div class="products__grid">
        <div v-for="(product, index) in productsFilter">
          <div class="products__product">
            <p class="product__amount" v-if="Quantity(index)!=0">{{Quantity(index)}}</p>
            <img class="product__img" :src=product.img alt="products">
            <h3 class="product__name"> {{ product.itemName }}</h3>
            <button class="product__btn product__btn--minus" @click="deleteFromCart(index)"><i
                class="fa-solid fa-minus product__btn-icon"></i></button>
            <p class="product__price">Preu: <span>{{ product.price }}€</span></p>
            <button class="product__btn product__btn--plus" @click="addToCart(index)"><i
                class="fa-solid fa-plus product__btn-icon"></i></button>
          </div>

        </div>
      </div>
      <div class="products__container-buyBtn">
        <button class="products__buyBtn" v-if="cart.length > 0" @click="changeScreen(2)">Demana'n
          <strong>{{calcularCartTotal()}}</strong> per
          <strong>{{parseFloat((cartPrice).toFixed(2))}}€</strong></button>
      </div>
    </section>


    <!-- ----------------------------------------------------------------------- -->
    <!--                                 TICKET                                  -->
    <!-- ----------------------------------------------------------------------- -->
    <section class="ticket" v-if="active==2">
      <p v-if="msg">{{msg}}</p>
      <div class="ticket__box">
        <h3>COMANDA</h3>
        <div class="ticket__products" v-for="(product, index) in cart">
          <div class="product__ticket">
            <p class="product-ticket__name">{{product.itemName}}</p>
            <p>x{{product.amount}}</p>
            <p>{{product.price}}€</p>

          </div>
        </div>
        <p class="ticket__total">Total: {{parseFloat((cartPrice).toFixed(2))}}€</p>
      </div>

      <div class="ticket__buttons">
        <label for="mail">Insereix el teu correu</label>
        <input type="email" name="mail" id="mail" placeholder="sample@sample.com" v-model="mail">
        <p class="ticket__errorMsg" v-if="errorMsg">{{ errorMsg }}</p>

        <button class="ticket__btn" @click="enviarForm()">Comprar</button>

        <button class="ticket__btn" @click="changeScreen(1)">Tornar</button>
      </div>
    </section>

    <!-- ----------------------------------------------------------------------- -->
    <!--                             DATOS DE COMPRA                             -->
    <!-- ----------------------------------------------------------------------- -->
    <section class="buyData" v-if="active==3">
      <h3 class="buyData__id">ID: {{yourOrder}}</h3>
      <img class="buyData__qr" src="img/qr.jfif" alt="">
      <button class="buyData__btn buyData-download__btn">Descarregar</button>
      <button class="buyData__btn" @click="changeScreen(0)">Tornar</button>
    </section>


    <!-- ----------------------------------------------------------------------- -->
    <!--                                 STATUS                                  -->
    <!-- ----------------------------------------------------------------------- -->
    <section class="status" v-if="active == 4">
      <h3 class="status__title">Estat de la Comanda</h3>
      <div class="status__search">
        <input @input="searchOrderStatus" type="number" class="status__search-input" placeholder="Buscar per ID"
          v-model="searchId" />
        <i class="fa-solid fa-search status__search-icon" @click="searchOrderStatus"></i>


      </div>


      <div class="status__result" v-if="searchResult">
        <div class="status__result-item" v-for="item in comandaItems">
          <p class="status__result-name">{{ item.itemName }} x{{ item.amount }} {{ (item.price * item.amount).toFixed(2)
            }}€</p>
        </div>
        <p class="status__result-total">Total: {{totalComanda}} €</p>
      </div>


      <button @click="changeScreen(0)" class="status__return-btn">Tornar</button>
    </section>


    <!-- ----------------------------------------------------------------------- -->
    <!--                                  login                                  -->
    <!-- ----------------------------------------------------------------------- -->

    <section class="login" v-if="active == 5">
      <div class="login__container">
        <div class="fomulary">
          <form action="#">
            <h2>Iniciar Sessió</h2>

            <div class="input-container">
              <i class="fa-solid fa-envelope"></i>
              <input type="email" required>
              <label for="#">Email</label>
            </div>
            <div class="input-container">
              <i class="fa-solid fa-lock"></i>
              <input type="password" required>
              <label for="#">Contrasenya</label>
            </div>
          </form>
          <div>
            <button class="login__btn">Log in</button>
            <div class="register">
              <p>No tens compte? <a href="#" @click="changeScreen(6)">Crear un compte</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ----------------------------------------------------------------------- -->
    <!--                                register                                 -->
    <!-- ----------------------------------------------------------------------- -->

    <section class="register__account" v-if="active == 6">
      <div class="register__container">
        <div class="fomulary">
          <form action="#">
            <h2>Registre</h2>

            <div class="input-container">
              <i class="fa-solid fa-person"></i>
              <input type="Nom" required>
              <label for="#">Nom</label>
            </div>

            <div class="input-container">
              <i class="fa-solid fa-envelope"></i>
              <input type="email" required>
              <label for="#">Email</label>
            </div>

            <div class="input-container">
              <i class="fa-solid fa-lock"></i>
              <input type="password" required>
              <label for="#">Contrasenya</label>
            </div>
          </form>
          <div>
            <button class="register__btn">Registrar</button>
          </div>
        </div>
      </div>
    </section>


    <!-- ----------------------------------------------------------------------- -->
    <!--                                 footer                                  -->
    <!-- ----------------------------------------------------------------------- -->
    <footer class="footer">
      <img class="footer__img" src="img/fastbites logo.png" alt="Logo de FASTBITES" />
      <div class="footer__legal">
        <a href="#" class="legal__link-page">Condicions d'us</a>
        <a href="#" class="legal__link-page">Politica de Privadesa</a>
        <a href="#" class="legal__link-page">Politica de Cookies</a>
      </div>
      <div class="socialMedia">
        <a href="#" class="socialMedia__icon fa fa-facebook"></a>
        <a href="#" class="socialMedia__icon fa fa-twitter"></a>
        <a href="#" class="socialMedia__icon fa fa-linkedin"></a>
        <a href="#" class="socialMedia__icon fa fa-instagram"></a>
      </div>
    </footer>
  </div>

  <script src="js/communicationManager.js" type="module"></script>
  <script src="js/main.js" type="module"></script>
</body>

</html>