*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
}

button{
    cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */
.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(204, 204, 204);
    padding: 0 40px;
}
.header__menu {
}
.menu__items{
    display: none;
}
.header__icon {
    font-size: 25px;
    cursor: pointer;
}
.menu__item {
}
.header__title {
    background: transparent;
    border: none;
}


/* -------------------------------------------------------------------------- */
/*                                   LANDING                                  */
/* -------------------------------------------------------------------------- */
.landing {
    margin: 40px 0;
    padding: 0 20px;
}

.landing__hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.landing__img {
    width: 150px;
    height: auto;

}
.landing__title {
    padding-left: 10px;
    text-align: center;
    font-size: 18px;
}
.landing__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.landing-buttons__btn {
}


/* -------------------------------------------------------------------------- */
/*                                  PRODUCTS                                  */
/* -------------------------------------------------------------------------- */
.products__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    height: 100%;
    gap: 15px;
    margin: 0 auto;
}
.products__product{
    position: relative;
    background-color: bisque;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product__name{
    min-height: 43px;
}

.product__img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.btn{
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 30px;
}
.products__buy{
    position: sticky;
    width: 60%;
    font-size: 18px;
    margin: 30px auto;
    border: 2px solid black;
    padding: 5px 0;
    background-color: rgb(204, 204, 204);
    border-radius: 20px;
}

/* -------------------------------------------------------------------------- */
/*                                  ticket                                  */
/* -------------------------------------------------------------------------- */
.ticket{
    width: 100%;
}
.ticket__box{
    width: 90%;
    padding: 10px;
    background-color: rgb(204, 204, 204);
    margin: 20px auto;
    text-align: center;
}

.product__ticket{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 5px;
    margin: 5px 0;
    box-shadow: 2px 2px 0px 0px #00000020;
}

.product-ticket__name{
    text-align: left;
}
.ticket__total{
    font-weight: bold;
    margin-top: 10px;
}

.ticket__buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

/* -------------------------------------------------------------------------- */
/*                                DATOS COMPRA                                */
/* -------------------------------------------------------------------------- */
.datosCompra{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.datosCompra__qr{
    width: 200px;
    height: 200px;
}


/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */
.footer {
    width: 100%;
    /* height: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: rgb(204, 204, 204);
    margin-top: 10px;
}
.footer__img {
    width: 70px;
    height: auto;
}
.footer__legal {
    display: flex;
    flex-direction: column;
}
.legal__link-page {
    text-decoration: none;
    color: black;
}
.socialMedia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.socialMedia__icon {
    text-decoration: none;
    color: black;
}
